src/main/resources/GroovesDBServiceSchema.xsd

<xsd:schema targetNamespace="http://www.groovesdb.com.au/GroovesDBService"
            xmlns:tns="http://www.groovesdb.com.au/GroovesDBService"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="list" type="tns:list"/>
            <xsd:element name="listResponse" type="tns:listResponse"/>
            <xsd:element name="search" type="tns:search"/>
            <xsd:element name="searchResponse" type="tns:searchResponse"/>
            <xsd:element name="update" type="tns:update"/>
            <xsd:element name="updateResponse" type="tns:updateResponse"/>
            <xsd:complexType name="list">
                <xsd:sequence>
                    <xsd:element name="request" nillable="true" type="tns:request"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="request">
                <xsd:sequence>
                    <xsd:element name="filter" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="listResponse">
                <xsd:sequence>
                    <xsd:element name="response" nillable="true" type="tns:response"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="response">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="artist" nillable="true"
                        type="tns:artist"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="artist">
                <xsd:sequence>
                    <xsd:element name="id" nillable="true" type="xsd:string"/>
                    <xsd:element name="name" nillable="true" type="xsd:string"/>
                    <xsd:element name="alias" nillable="true" type="xsd:string"/>
                    <xsd:element name="profile" nillable="true" type="xsd:string"/>
                    <xsd:element name="sites" nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="unbounded" name="release" nillable="true"
                        type="tns:release"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="release">
                <xsd:sequence>
                    <xsd:element name="id" nillable="true" type="xsd:string"/>
                    <xsd:element name="title" nillable="true" type="xsd:string"/>
                    <xsd:element name="genre" nillable="true" type="xsd:string"/>
                    <xsd:element name="style" nillable="true" type="xsd:string"/>
                    <xsd:element name="year" nillable="true" type="xsd:string"/>
                    <xsd:element name="notes" nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="unbounded" name="sale" nillable="true" type="tns:sale"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="sale">
                <xsd:sequence>
                    <xsd:element name="price" nillable="true" type="xsd:string"/>
                    <xsd:element name="title" nillable="true" type="xsd:string"/>
                    <xsd:element name="shipping_cost" nillable="true" type="xsd:string"/>
                    <xsd:element name="shipping_location" nillable="true" type="xsd:string"/>
                    <xsd:element name="details" nillable="true" type="xsd:string"/>
                    <xsd:element name="media_condition" nillable="true" type="xsd:string"/>
                    <xsd:element name="sleeve_condition" nillable="true" type="xsd:string"/>
                    <xsd:element name="seller" nillable="true" type="xsd:string"/>
                    <xsd:element name="source" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="search">
                <xsd:sequence>
                    <xsd:element name="request" nillable="true" type="tns:request2"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="request2">
                <xsd:sequence>
                    <xsd:element name="artist" nillable="true" type="xsd:string"/>
                    <xsd:element name="release" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="searchResponse">
                <xsd:sequence>
                    <xsd:element name="response" nillable="true" type="tns:response2"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="response2">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="artist" nillable="true"
                        type="tns:artist3"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="artist3">
                <xsd:sequence>
                    <xsd:element name="id" nillable="true" type="xsd:string"/>
                    <xsd:element name="name" nillable="true" type="xsd:string"/>
                    <xsd:element name="alias" nillable="true" type="xsd:string"/>
                    <xsd:element name="profile" nillable="true" type="xsd:string"/>
                    <xsd:element name="sites" nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="unbounded" name="release" nillable="true"
                        type="tns:release3"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="release3">
                <xsd:sequence>
                    <xsd:element name="id" nillable="true" type="xsd:string"/>
                    <xsd:element name="title" nillable="true" type="xsd:string"/>
                    <xsd:element name="genre" nillable="true" type="xsd:string"/>
                    <xsd:element name="style" nillable="true" type="xsd:string"/>
                    <xsd:element name="year" nillable="true" type="xsd:string"/>
                    <xsd:element name="notes" nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="unbounded" name="sale" nillable="true" type="tns:sale2"
                    />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="sale2">
                <xsd:sequence>
                    <xsd:element name="price" nillable="true" type="xsd:string"/>
                    <xsd:element name="title" nillable="true" type="xsd:string"/>
                    <xsd:element name="shipping_cost" nillable="true" type="xsd:string"/>
                    <xsd:element name="shipping_location" nillable="true" type="xsd:string"/>
                    <xsd:element name="details" nillable="true" type="xsd:string"/>
                    <xsd:element name="media_condition" nillable="true" type="xsd:string"/>
                    <xsd:element name="sleeve_condition" nillable="true" type="xsd:string"/>
                    <xsd:element name="seller" nillable="true" type="xsd:string"/>
                    <xsd:element name="source" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="update">
                <xsd:sequence>
                    <xsd:element name="request" nillable="true" type="tns:request3"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="request3">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="artist" nillable="true"
                        type="tns:artist4"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="artist4">
                <xsd:sequence>
                    <xsd:element name="id" nillable="true" type="xsd:string"/>
                    <xsd:element name="name" nillable="true" type="xsd:string"/>
                    <xsd:element name="alias" nillable="true" type="xsd:string"/>
                    <xsd:element name="profile" nillable="true" type="xsd:string"/>
                    <xsd:element name="sites" nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="unbounded" name="release" nillable="true"
                        type="tns:release4"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="release4">
                <xsd:sequence>
                    <xsd:element name="id" nillable="true" type="xsd:string"/>
                    <xsd:element name="title" nillable="true" type="xsd:string"/>
                    <xsd:element name="genre" nillable="true" type="xsd:string"/>
                    <xsd:element name="style" nillable="true" type="xsd:string"/>
                    <xsd:element name="year" nillable="true" type="xsd:string"/>
                    <xsd:element name="notes" nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="unbounded" name="sale" nillable="true" type="tns:sale3"
                    />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="sale3">
                <xsd:sequence>
                    <xsd:element name="price" nillable="true" type="xsd:string"/>
                    <xsd:element name="title" nillable="true" type="xsd:string"/>
                    <xsd:element name="shipping_cost" nillable="true" type="xsd:string"/>
                    <xsd:element name="shipping_location" nillable="true" type="xsd:string"/>
                    <xsd:element name="details" nillable="true" type="xsd:string"/>
                    <xsd:element name="media_condition" nillable="true" type="xsd:string"/>
                    <xsd:element name="sleeve_condition" nillable="true" type="xsd:string"/>
                    <xsd:element name="seller" nillable="true" type="xsd:string"/>
                    <xsd:element name="source" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="updateResponse">
                <xsd:sequence>
                    <xsd:element name="response" nillable="true" type="tns:response3"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="response3">
                <xsd:sequence>
                    <xsd:element name="status" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>